.blog_list_container {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.blog_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

@media (max-width: 1024px){
    .blog_list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
}
@media (max-width: 780px){
    .blog_list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
    }
}

.blog_cart {
    width: 100%;
    max-width: 360px; 
    box-sizing: border-box; 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.blog_cart img {
    width: 100%; 
    height: 290px;
    object-fit: cover; /* Ensures the image fits within its container without stretching */

}

.blog_category {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.blog_category{
    display: flex;
    flex-direction: row;
}

.blog_category p{
    padding: 1px;
    margin: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.blog_cart h1 {
    font-size: 1.5em; 
    margin: 10px 0 0; 
    text-align: left;
}
