.text-list{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;

    justify-content: center;
    align-items: center;
    margin: 0 auto;

   
}

.text-content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    padding: 10px 0px;
}
.text-content:first-child{
    border-top: 2px solid #CCC;
}

.text-content:last-child{
    border-bottom: 2px solid #CCC;
}

.text-left{
    margin-left: 40px;
}

.text-right{
    margin-right: 40px;
}

.text-right a{
    text-decoration: none;
    color: black;
}

.text-right:hover{
    color: red;
}

@media (max-width: 768px){

    .text-content{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        border-top: 1px solid #CCC;
        border-bottom: 1px solid #CCC;
        padding: 5px 0px;
    }

    .text-left{
        margin-left: 20px;
    }
    
    .text-right{
        margin-right: 20px;
    }
    
}


@media (max-width: 600px){


    .text-left{
        margin-left: 10px;
    }
    
    .text-right{
        margin-right: 10px;
    }
    
}