<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/blog_list.css">
</head>
<body>
    <div class="blog_list_container">
        <div class="blog_list">
            <div class="blog_cart">
                <img src="../images/blog_cart.png" alt="blog-cart">
                <div class="blog_category">
                    <p>テキスト</p>
                    <p>テキスト</p>
                </div>
                <h1> title Blog title Blog title Blog title BlBlogog title</h1>
            </div>
            <div class="blog_cart">
                <img src="../images/Group 48.webp" alt="blog-cart">
                <div class="blog_category">
                    <p>テキスト</p>
                    <p>テキスト</p>
                </div>
                <h1>Blog title Blog title Blog title Blog title Blog title</h1>
            </div>
            <div class="blog_cart">
                <img src="../images/shawns logos 2.webp" alt="blog-cart">
                <div class="blog_category">
                    <p>テキスト</p>
                    <p>テキスト</p>
                </div>
                <h1>Blog title Blog title Blog title Blog title Blog title</h1>
            </div>
            <div class="blog_cart">
                <img src="../images/blog_cart.png" alt="blog-cart">
                <div class="blog_category">
                    <p>テキスト</p>
                    <p>テキスト</p>
                </div>
                <h1>Blog title Blog title Blog title Blog title Blog title</h1>
            </div>
        </div>
    </div>
    
</body>
</html>