<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/recruit_top_message.css">
</head>

<body>
    <div class="recruit_top_message">

        <div class="recruit_content_title">
            <h1>HandKグループで</h1>
        </div>

        <div class="recruit_header_title">
            <p>HandKグループでは、「海外（ウズベキスタン）を拠点に働いてみたい」、
                「多数のエンジニアを管轄するプロジェクトで経験を積みたい」という志を持つ方を募集しています。
                当社は、IT開発の最前線で活躍するエンジニアを支援し、その成長を共に見守りながら、
                グローバルな視野を広げる機会を提供します。
                ウズベキスタンでのプロジェクトは、技術力を活かしながらリーダーシップを発揮し、
                チームを成功に導く貴重な経験を積む場となるでしょう</p>
        </div>
        
    </div>


</body>

</html>