<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/related_articles.css">
</head>

<body>
    <div class="related_articles_container">
        <div class="related_articles_list">
            <div class="articles_cart">
                <img src="../images/blog_cart.png" alt="blog-cart">
                <h1>Task2: TextTextText </h1>
                <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキス
                    トテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキス
                    トテキストテキストテキスト
                </p>
            </div>
            <div class="articles_cart">
                <img src="../images/blog_cart.png" alt="blog-cart">
                <h1>Task2: TextTextText </h1>
                <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキス
                    トテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキス
                    トテキストテキストテキスト
                </p>
            </div>

            <div class="articles_cart">
                <img src="../images/blog_cart.png" alt="blog-cart">
                <h1>Task2: TextTextText </h1>
                <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキス
                    トテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキス
                    トテキストテキストテキスト
                </p>
            </div>
        </div>

    </div>
    <div class="related_articles_button">
        <button>Read related articles</button>
        <a href="">
            <img src="../images/right-arrow.png">
        </a>

    </div>

</body>

</html>